<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.mark.utils"
          android:versionCode="1">
    <!--utils androidMainfest.xml-->
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

    </application>

</manifest>
